body {
    background: #ECECEA;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
#intro {
  margin-top:15%;
  text-align:center;
  
}
.bio-txt-initial {
  color:orange;
}
.bio-brackets {
  color:#74AFAD;
}
.img-circle {
    border-radius: 30%;
}
.picCollage {
  display:block;
  margin:0 auto;
  float:left;
}
p .picCollage-text {
    text-align: justify;
    width: 200px;
    text-align:center !important;
}
p {
  text-align:center;
}

